:root {
    --font-ko-main: 'Cafe24SsurroundAir', 'Pretendard', sans-serif;
    --font-ko-sub: 'Cafe24SsurroundAir', 'Pretendard', sans-serif;
    --font-en-main: 'Miamo', 'Lato', sans-serif;
    --color-primary: #f7f0e5;
    --color-secondary: #605347;
}
