/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* Font Faces */
@font-face {
  font-family: 'GyeonggiMillenniumBackground';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: 'Cafe24SurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'GyeonggiMillenniumBackground', sans-serif;
  --font-ko-sub: 'Cafe24SurroundAir', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #e8e5e1;
  --color-secondary: #635955;
}